---
import WebRTCDemo from "./WebRTCDemo.svelte";
// import TurnTest from ". /TurnTest.svelte"
import WebRTCDemoSmall from "./WebRTCDemoSmall.svelte";

---

<h1>WebRTCDemo</h1>

<WebRTCDemoSmall client:load />

<!-- <WebRTCDemo client:load /> -->

<!-- <TurnTest client:load /> -->