---
import WebRTCAuto from "./WebRTCAuto.svelte";
import WebRTCDemoSmall from "./WebRTCDemoSmall.svelte";
// import WebRTCDemo from "./WebRTCDemo.svelte";
---
<WebRTCDemoSmall client:load />

<!-- <WebRTCAuto client:load /> -->

<!-- <h1>WebRTCDemo</h1>

<hr />

<p>Alice</p>
<WebRTCDemo client:load />

<hr />

<p>Bob</p>
<WebRTCDemo client:load /> -->
