---
import Parser from 'rss-parser'

type CustomFeed = {foo: string};
type CustomItem = {bar: number};

const parser: Parser<CustomFeed, CustomItem> = new Parser();
const feed = await parser.parseURL(import.meta.env.SITE + '/rss.xml');
// const feed = await parser.parseURL(Astro.url.origin + '/rss.xml');
---

<h1>{feed.title}</h1>

{feed.items.map((item) => (
    <a href={item.link}>
        <h2>{item.title}</h2>
    </a>
))}

<hr />

<p>
    This list of posts is being interpretted at build time via the `/rss.xml` endpoint I have exposed.
    Astro Components are meant not to be sent to the client, so this list is not dynamic.
</p>