---
const pages = await Astro.glob('./**/*.astro');

import { Debug } from 'astro/components'
---

<!-- <Debug {BreadboardIndex} /> -->

{pages.map((page) => (
    <li>
        <a href={page.url}>{page.url}</a>
    </li>
))}
