<script is:inline src="/p5/libraries/p5.min.js"></script>
<script is:inline src="/p5/motion-3/sketch.js"></script>

<body>
    
    <br>
    <br>
    <h1>Tesing out p5 inside of Astro</h1>
    <p>It's not really "inside" of Astro as I have to use the `is:inline` directive to get everything loaded right.</p>
    <p>but this certainly works! I think I have some ideas as to what may need to happen in order to capture the story behind devlepment that I want to preserve as well.</p>
    <p>I am a little bummed that p5 can't be used as a component still, it would be nice to have better support to treat it functionally</p>
    
    
    </body>