<div>
    <h1 class="cyan">hello!</h1>
    <h1 class="magenta">hello!</h1>
    <h1 class="yellow">hello!</h1>
</div>

<style>
    div {
        background-color: black;
        height: 100rem;
        text-align: center;
    }
    
    h1 {
        font-size: 72pt;
        mix-blend-mode: screen;
        position: absolute;
    }
    .cyan {
        color: cyan;
        left: 2px;
        top: 5px;
        opacity: 0.8;
    }
    .magenta {
        left: 0;
        top: 0;
        color: magenta;
        opacity: 0.8;
    }
    .yellow {
        opacity: 0.8;
        color: yellow;
        left:-2px;
        top:-5px;
        
    }
</style>
