---
import Layout from '@layouts/Layout.astro';
import ColorPalette from '@components/ColorPalette.astro';

const utc = new Date().toLocaleString()
const timezone = Intl.DateTimeFormat().resolvedOptions().timeZone;
---

<Layout title="con's site :)">
	<main>
        <section class="title-card">
            <h3>Hi, I'm</h3>
            <h1>Conrad <span class="less-emphasis">Mearns</span></h1>
            <h2>Data Engineer</h2>
            <h3>Pacific Northwest National Laboratory</h3>
        </section>
        
        <br />
        
        <ul>
            <li><h2><a href="/blog">Latest Ramblings</a></h2></li>
            <!-- <li><h2><a href="#under-construction---sorry!">Content Map</a></h2></li> -->
            <li><h2><a href="/cv">Curriculum Vitae</a></h2></li>
            <li><h2><a href="/breadboard">Breadboard Apps</a></h2></li>
            <!-- bonk! -->
            <!-- <li><h2><a href="https://twitter.com/conrad_mearns">Twitter</a></h2></li> -->
            <li><h2><a href="https://github.com/ConradMearns">Github</a></h2></li>
        </ul>
            
        <footer>
            <ColorPalette />
            <p><a href="https://github.com/ConradMearns/blog">❤</a></p>
            <p>{utc} - {timezone}</p>
        </footer>


	</main>
</Layout>


<style>
	html {
		height: 100%;
		font-family: "Raleway", "Noto Sans SC", sans-serif;
		font-weight: 300;
		/* background-image: linear-gradient(
		42deg,
		var(--color-bg-darker) 0%,
		var(--color-bg) 80%
		); */
		color: var(--color-text);
	}

	:global(h1) {
		font-size: var(--font-size-xl);
		/* text-shadow: 6px 3px 6px var(--color-bg-shadow); */
		font-weight: 500;
	}

    main {
        margin: 10%;
    }

    h2 > a {
        font-size: min(8vw, 2rem);
    }

    a {
        color: var(--color-nav-link);
        text-decoration: none;
    }
    a::before {
        content: "[ ";
    }
    a::after {
        content: " ]";
    }
    a:hover {
        text-decoration: underline;
    }

    section.title-card * {
		margin: 0;
    }

    .less-emphasis {
        color: rgba(0, 0, 0, 0.7);
    }
    h1 {
		text-shadow: 0 3px 10px rgba(0,0,0,.15);
    }

    li {
        list-style: none;
        line-height: 1;
    }

    footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        text-align: center;
        font-size: 0.7rem;
        line-height: 1;
    }

</style>