---
import Layout from '../layouts/Layout.astro';
import ColorPalette from './ColorPalette.astro';

const utc = new Date().toLocaleString()
const timezone = Intl.DateTimeFormat().resolvedOptions().timeZone;
---

<Layout title="con's site :)">
	<main>
        <section class="title-card">
            <h3>Hi, I'm</h3>
            <h1>Conrad <span class="less-emphasis">Mearns</span></h1>
            <h2>Data Engineer</h2>
            <h3>Pacific Northwest National Laboratory</h3>
        </section>
        
        <br />
        <h2><a href="#under-construction---sorry!">Latest Ramblings</a></h2>
        <h2><a href="#under-construction---sorry!">Content Map</a></h2>
        <h2><a href="#under-construction---sorry!">Curriculum Vitae</a></h2>
        <h2><a href="https://twitter.com/conrad_mearns">Twitter</a></h2>
        <h2><a href="https://github.com/ConradMearns">Github</a></h2>

        <footer>
            <ColorPalette />
            <p><a href="https://github.com/ConradMearns/blog">❤</a></p>
            <p>{utc} - {timezone}</p>
        </footer>


	</main>
</Layout>


<style>
    main {
        margin: 10%;
    }

    h2 > a {
        font-size: min(8vw, 2rem);
    }

    a {
        color: var(--color-nav-link);
        text-decoration: none;
    }
    a::before {
        content: "[ ";
    }
    a::after {
        content: " ]";
    }
    a:hover {
        text-decoration: underline;
    }

    section.title-card * {
		margin: 0;
    }

    .less-emphasis {
        color: rgba(0, 0, 0, 0.7);
    }
    h1 {
		text-shadow: 0 3px 10px rgba(0,0,0,.15);
    }

    footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        text-align: center;
        font-size: 0.7rem;
        line-height: 1em;
    }

</style>