---
import Layout from '../layouts/Layout.astro';
---

<Layout title="con's site :)">
	<main>
        <h3>Hi, I'm</h3>
        <h1>Conrad</h1>
        <h2>a Data Engineer</h2>
        
        <br />
<pre>
## Bachelor of Computer Science 
- University of Idaho 2020

## Data Engineer @ PNNL
- Embedded C
- AWS DevOps

## 在学汉语
[Github](https://github.com/ConradMearns)
[Twitter](https://twitter.com/conrad_mearns/)
</pre>
        
	</main>
</Layout>


<style>
    main {
        position: absolute;
        left: 10%;
        top: 3rem;
    }
</style>