<div>
    <div class="square primary" />
    <div class="square primary-light" />
    <div class="square primary-dark" />
    <div class="square primary-complement" />
    <div class="square primary-triad-1" />
    <div class="square primary-triad-2" />
</div>

<div>
    <div class="square secondary" />
    <div class="square secondary-light" />
    <div class="square secondary-dark" />
    <div class="square secondary-complement" />
    <div class="square secondary-triad-1" />
    <div class="square secondary-triad-2" />
</div>


<style>
    .square {
        display: inline-block;
        background-color: red;
        width:  30px;
        height: 30px;
    }
    .primary            { background-color: var(--color-primary);             }
    .primary-light      { background-color: var(--color-primary--light);      }
    .primary-dark       { background-color: var(--color-primary--dark);       }
    .primary-complement { background-color: var(--color-primary--complement); }
    .primary-triad-1    { background-color: var(--color-primary--triad-1);    }
    .primary-triad-2    { background-color: var(--color-primary--triad-2);    }
    
    .secondary            { background-color: var(--color-secondary);             }
    .secondary-light      { background-color: var(--color-secondary--light);      }
    .secondary-dark       { background-color: var(--color-secondary--dark);       }
    .secondary-complement { background-color: var(--color-secondary--complement); }
    .secondary-triad-1    { background-color: var(--color-secondary--triad-1);    }
    .secondary-triad-2    { background-color: var(--color-secondary--triad-2);    }
</style>