---
const posts = await Astro.glob('../pages/*.md'); // returns an array of posts that live at ./src/pages/post/*.md
---

<div>
{posts.map((post) => (
  <article>
    <h1>{post.frontmatter.title}</h1>
    <p>{post.frontmatter.description}</p>
    <a href={post.url}>Read more at '{post.url}'</a>
  </article>
))}
</div>