<section>
  <div>
    <div>
      <div>
        <div>
          <div>
            <div>
              <div>
                <div>
                  <div>
                    <div>
                      <div>
                        <div>
                          <div></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<style>
  :root {
    /* --phi: 1/37.5deg; */
    --phi: 61.80339887498948482deg;
  }
  section {
    margin: 50vw;
  }
  div {
    height: 25px;
    width: 25px;

    background-color: rgba(255, 117, 117, 0.572);
    border-radius: 50%;
    
    position: relative;
}

div > div {
    font-size: 1.1em;
    left: 0.8em ;
    rotate: var(--phi);
}
</style>
