---
import Layout from '@layouts/Layout.astro';
const { title } = Astro.props.frontmatter
---

<Layout title={title}>
	<h1>{title}</h1>
	<article>
		<slot />
	</article>
</Layout>

<style>
	h1 {
		text-align: center;
	}
	article {
		line-height: 1.5rem;
		margin: auto;
		padding-bottom: 100px;
		max-width: 650px;
	}
</style>