---
import CenterColumn from '@layouts/CenterColumn.astro';
const { title } = Astro.props.frontmatter
const { minutesRead } = Astro.props.frontmatter;
---

<CenterColumn title={title}>
	<ul class="navigation py-4">
		<li><a href="/">conrads.website</a></li>
	</ul>
	<h1 class="text-5xl tracking-tight leading-tight drop-shadow-xl">
        {title}
	</h1>
	<h5 class="text-sm">
        {minutesRead}
	</h5>
	<article class="pb-64 p-4 mt-10 prose ">
		<slot />
	</article>
</CenterColumn>