---
import Layout from "@layouts/Layout.astro";
---

<Layout title="conrad's website">
  <main class="flex h-screen">
    <div class="lg:m-auto lg:w-1/3 sm:w-full sm:m-4">
      <slot />
    </div>
  </main>
</Layout>
