---
import Layout from '@layouts/Layout.astro';
import { Debug } from 'astro/components';
const { title } = Astro.props.frontmatter
const { minutesRead } = Astro.props.frontmatter;
---

<Layout title={title}>

	<Debug {Astro.props.frontmatter}></Debug>

	<h1>{title}</h1>
	<article>
		<div class="info">
			{minutesRead}
		</div>
		<slot />
	</article>
</Layout>

<style is:global>

	.info {
		padding: 0.5em;
		background-color:lightsalmon;
	}

	article {
		line-height: 1.5rem;
		margin: auto;
		padding-bottom: 100px;
		max-width: 650px;
	}

	img {
		max-width: 100%;
	}
</style>